* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f4f6f8;
  height: 100%;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
}
.modal{
  top: 20% !important;
}
.forgotten_pass{
  text-align: right;
  padding-top: 2%;
  padding-bottom: 2%;
}
.forgotten_pass a{
  font-size: 1em;
}
// @import 'bootstrap/dist/css/bootstrap.min.css';
@import '../partials/interviewer.scss';
@import '../partials/calendar.scss';
@import '../partials/dashboard.scss';
@import '../partials/applicantBookInterview.scss';


