.Applicant_interview_wrapper{
  width: 100%;
}
.btn__less{
  background: none !important;
  border: none !important;
}
.open_sideBar_icon{
  font-size: 2rem !important;
  color: #222753 !important;
}

.btn_Int_schedule{
    width: 90%;
    background-color: #3f51b5 !important;
    color: white;
    border-radius: 25px !important;
    transition: ease-in .3s;
}
.btn_Int_schedule:hover{
    width: 100%;
    background-color: white !important;
    color: #3f51b5;
    border: 1px solid #3f51b5 !important;
    border-radius: 25px;
    font-weight: 600;
}
._wrapper__{
  padding: 4%;
}
.no_record_found{
  background-color: #fea20b;
  display: flex !important;
  align-items: center;
  color: white;
  font-size: 0.8em;
  justify-content: center;
  padding: 1%;
}
.no_record_found p{
  margin: unset;
  color: #222753;
  font-weight: bold;
  font-size: 1.2em;
}
.no_schedule_wrapper{
  height: 100%;
}
.no__schedule{
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.interviewerImgIcon{
  width: 130px !important;
  height: 130px !important;
}

/* ____SideBar Card _______________ */
.card_side_{
    background-color: white;
    padding: 5%;
    border-radius: 27px;
    background: linear-gradient(145deg, #e5e6e6, #ffffff);
    box-shadow: 8px 8px 16px #d5d6d6, -8px -8px 16px #ffffff;
    width: 91%;
    transition: all 0.2s ease-in-out;
}
.MuiBackdrop-root{
  background-color: rgba(0, 0, 0, 0.14) !important;

}
.card_side_btn{
  height: 5%;
  padding: 0;
  font-weight: 500;
  font-size: 1.2em;
  color: #3f51b5;
  outline: none !important;
}

// ------------------


.sidenav {
    overflow-y: scroll;
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1000;
    right: 0;
    background-color: #30385e;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
  }
  @media(min-width: 635px){
    .sidenav {
      top: 64px;
    }
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  @media(min-width: 700px) and (max-width: 1279px){
    .side_drawar{
      width: 40%;
    }
  }
  @media(min-width: 1280px){
    .side_drawar{
      width: 25%;
    }
  }

  @media(min-width: 300px) and (max-width: 700px){
    .side_drawar{
      width: 100%;
    }
  }