@import "../../App.css";
.modal-content{
    border-radius: 25px;
    padding: 2%;
}
.top_calendar_{
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    padding-left: 2%;
    width: 80%;
}
.hidden-md{
    display: none;
}
@media(max-width: 812px){
    .top_calendar_{
        width: 100% !important;
        padding-left: 5% !important;
        padding-right: 5% !important;
        margin-bottom: 5%;
        margin-top: 3%;
    }
    .top_calendar_ h2{
        font-size: 1.3em;
    }
    .top_calendar_ button{
        font-size: 12px;
    }
    .hidden-md{
        display: block !important;
    }
    .no_booked_schedule{
        padding: 5%;
    }
}
._new-schedule{
    border-radius: 25px;
    color: white;
    background-color: #3f51b5;
    border-color: #3f51b5;
}

@media(min-width: 900px){
    .calendar_container{
        display: flex !important;
        padding: 2%;
    }
}
@media(max-width: 899px){
    .calendar_container{
        display: block;
        padding: 2%;
    }
}
.calendar-area{
    flex:5;
}
.update_calendar_container{
    flex: 1;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #35353503;
}
.no_booked_schedule{
    text-align: center;
}
.booked_schedule{
    padding-top: 2%;
    padding-bottom: 4%;
}
.no_booked_schedule h4{
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #353535;
    font-weight: 700;
}
.no_booked_schedule p{
    font-size: 1.3em;
    // width: 240px;
    color: #353535e7;
    font-family: "Work Sans",Roboto,Segoe UI,Open Sans,sans-serif;
}
.fc-past {
    background-color: rgba(128, 128, 128, 0.432);
}
.fc-bgevent{
  opacity: 1 !important;
}
.fc-day-grid-event .fc-time{
    display: block !important;
}
.fc-title{
    color: white;
    font-weight: 600;
    font-weight: 1.1em;
}
.fc-time{
    color: white;
}
.toast{
    opacity: unset;
}
.interview_decline_accept{
    display: flex;
    justify-content: flex-end;
    // justify-content: space-around;
}
.interview_decline_accept .btn{
    font-size: 11px;
    margin-left: 10px;
}
.interview_decline_accept .btn.btn-success{
    background-color: #3f51b5;
    outline: none;
    border-color: #3f51b5;
}
.interview_decline_accept .btn.btn-outline{
    border: 1px solid gray;
}
.interview_decline_accept .btn.btn-outline:hover{
    background-color: rgba(255, 0, 0, 0.842);
    border-color: rgba(255, 0, 0, 0.842);
}