$box_shadow: 6px 6px 17px #c9c9c9, -6px -6px 17px #ffffff;
$bg_blue: #3f51b5;
$bg_gold: #fea20b;

.comment_wrapper_{

    .__spacing{
        padding: 2%;
    }
    .comment_section{
        width: 100%;
        display: flex;

        .comment_box{
            flex: 1;
            padding: 2%;
            box-shadow:  $box_shadow;
            border-radius: 20px;
            margin-right: 2%;
            height: fit-content;

            display: flex;

            & div:first-child{
                flex-grow: 2;
            }
            & div:last-child{
                flex-grow: .5;
                padding-left: 4%;

                .btn{
                    width: 100%;
                    height: 100%;
                    border-radius: 25px;
                    font-size: 1.4em;
                    font-weight: bold;

                    &.valid{
                        background-color:$bg_blue;
                        color: white;

                        &:hover{
                            background-color: $bg_gold;
                            color: $bg_blue;
                        }
                    }
                    &.invalid{
                        background-color: gray;
                        color: white;
                    }

                    
                }
            }

            h2{
                font-size: 18px;
                padding-left: 2%;
                padding-bottom: 1%;
            }
            .form-control{
                border-radius: 25px;
                padding: 2%;
                margin-bottom: 2%;
            }
            .message_box{
                width: 100%;
                border: none;
                outline: none;
                padding: 2%;
                border-radius: 38px;
                background: #feffff;
                color: $bg_blue;
                resize: none;
            }
        }
    }

    .select_applicant{
        flex: 0.5;
        padding: 2%;
        box-shadow:  $box_shadow;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        justify-items: center;
        justify-self: center;
        align-self: center;
        h2{
            font-size: 18px;
            padding-left: 2%;
            padding-bottom: 1%;
        }
        select{
            background-color: $bg_blue;
            border: none;
            outline: none !important;
            box-shadow: none;
            border-radius: 20px;
            padding-left: 5%;
            padding-right: 5%;
            color: $bg_gold;
            font-weight: bold;
        }
    }

    .blog_list{
        height: 100%;
        overflow-y: scroll;
        padding: 2%;

        .card-body{
            padding: 0.7rem !important;
        }
        h4{
            font-size: 16px;
            font-weight: bold;
        }
        p{
            font-size: 14px;
            margin-bottom: unset;
        }

        .user_icon_text{
            display: flex;

            .applicant_img_sec{
                margin-right: 2%;
            }
            
        }
    }
}

.addSectionForm {
    display: flex;
    border-radius: 7px;
    background: #222753;
    box-shadow: 8px 8px 37px #b7b8b8, -8px -8px 37px #ffffff;
    padding: 2rem;
    justify-content: space-evenly !important;
    align-items: center;
    margin: unset;
    margin: 1rem !important;

    .form-group{
      flex: 0.4;
      margin-right: 2%;
    }
    .u-2{
      flex: 0.8 !important;
    }
    input{
      margin-right: 3rem;
    }
    .form-control{
      height: 6rem;
      width: 100%;
      font-size: 13px !important;
    }
    .text_area{
      width: 100% !important;
    }
    
}
.interviewerCommentor{
    font-size: 12px;
    font-weight: 200;
    margin-left: 10px;
}

@media (max-width: 1024px) {
    .comment__form_section{
        display: block;
        .form-control{
            height: 2rem;
        }
        textarea{
            height: 5rem !important;
        }
    }
}

.admin_comment_section{
    display: flex;
    justify-content: space-between;

    .flex__lg{
        // flex: 0.9;
        margin-right: 10px;
        width: 100%;
    }
    .remove_comment{
        height: 100%;
        display: flex;
        align-self: center;

        button{
            width: 32px;
            height: 32px;
            outline: none;
            border: none;
            border-radius: 50%;

            i{
                color: red;
            }
        }
    }
}