@media (min-width: 1024px) {
  .__interviewer-padding {
    padding: 5%;
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 1023px) {
  .__interviewer-padding {
    padding: 5%;
    display: flex;
    flex-direction: column;
  }
}

.pendingInterview_no {
  flex: 1;
  padding: 10%;
  margin: 2%;
  border-radius: 59px;
  background: linear-gradient(145deg, #ffffff, #e5e6e6);
  box-shadow: 29px 29px 46px #cecfcf, -29px -29px 46px #ffffff;
}

.approvedInterview_no {
  flex: 1;
  padding: 10%;
  border-radius: 59px;
  background: linear-gradient(145deg, #e5e6e6, #ffffff);
  box-shadow: 29px 29px 46px #cecfcf, -29px -29px 46px #ffffff;
}
// *****
.pendingInterview_no .child_card_ {
  display: flex;
  justify-content: space-around;
}
.pendingInterview_no .child_card_ .text_portion {
  display: flex;
  flex: 2;
  flex-direction: column;
}
.pendingInterview_no .child_card_ .text_portion h1 {
  color: gray;
}
.pendingInterview_no .child_card_ .icon_portion {
  flex: 1;
}

// ---------------------
.makeStyles-avatar-175 {
  background-color: #3f51b5 !important;
}
.approvedInterview_no .child_card_ {
  display: flex;
  justify-content: space-around;
}
.approvedInterview_no .child_card_ .text_portion {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}
.approvedInterview_no .child_card_ .text_portion h1 {
  color: gray;
}
.approvedInterview_no .child_card_ .icon_portion {
  margin-right: 10%;
}

.account_error_border {
  border: 00.1px solid red !important;
}
.logout_ {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

/* loading dots */

.loading:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: white;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
  }
}

.flexBtnRight {
  background-color: #fafafa;
  color: #222753;
  border: none;
  padding: 6px 17px;
  border-radius: 5px;
  font-weight: 600;

  &:active{
    background-color: #ffffff;
    color: #e53935;
  }
  &:focus{
    background-color: #222753;
    border: none;
    outline: none;
    color: #f4f6f8;
  }
}
.addSectionForm{
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 7px;
  background: #feffff;
  box-shadow: 8px 8px 37px #b7b8b8, -8px -8px 37px #ffffff;
  padding: 2rem;

  justify-content: space-evenly;
  align-items: center;

  label{
    font-size: 13px;
    color: #dbdcdd;
  }
  input{
    width: 17rem;
  }

  button{
    &.btn{
      color: unset;
    }
    &.validBtn {
      color: #222753;
      font-weight: 700;
    }
    &.inValid {
      color: #dbdcdd;
      font-weight: 700;
    }
    &:last-child{
      color: #e53935;
      font-weight: 700;
    }
  }

}
.dashboard_form .form-control{
  height: 3rem !important;
}

@media (max-width: 1024px) {
  .dashboard_form{
    display: block !important;
  }
}
